<div class="section w3-clear " style="margin-top:-25%;clear:both;">
	<div class="row">
		<div id="voeuxlayout" class="col-lg-12 container-fluid tabs w3-animate-zoom w3-white" style="height:90%;width:100%;z-index:99;">

			<div class="row">
				<div class="col-md-12">
					<header class="w3-container w3-blue w3-padding">
							<a href="#" onclick="closeMenu(event, 'bodycontent')" class="w3-btn btn w3-white tablink w3-left"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
						
					</header>
				</div>
			</div>
		
			<div class="row">
			
				<div class="col-lg-3">
					<!-- Sidenav/menu -->
					<nav class="w3-card-2 w3-animate-left w3-white" style="width:300px;position:static;">
						<div class="w3-container w3-row">
							<div class="w3-col s4">
								<h3 class="text-center"><b> <i class="glyphicon glyphicon-calendar w3-xlarge"></i> voeux </b></h3><br>
							</div>
						</div>
					  
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#" class="tablinkw3-padding-hor-16 w3-hide-large w3-dark-grey w3-hover-black tablink" onclick="w3_close()" title="close menu"><i class="fa fa-remove"></i>  Close Menu</a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listevoeuxfil','voeuxlayout')"><i class="fa fa-users"></i> Liste des voeux par Filiere </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listevoeuxgrp','voeuxlayout')"><i class="fa fa-users"></i> Liste des voeux par Groupe </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listevoeuxal','voeuxlayout')"><i class="fa fa-users"></i> Liste des voeux par Salle </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listevoeuxens','voeuxlayout')"><i class="fa fa-users"></i> Liste des voeux par Enseignant </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listevoeuxdep','voeuxlayout')"><i class="fa fa-users"></i> Liste des voeux </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'designhelp','voeuxlayout')"><i class="fa fa-users"></i> Help Design </a></li>
							<li><a href="#" class="w3-padding w3-blue tablink" onclick="OpenVeuModal(event,'{{ session_id }}')" ><i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau voeux </a></li>
							<!-- <li><a href="#" class="w3-padding w3-blue tablink" data-toggle="modal" data-target="#addvoeux" ><i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau voeux </a></li> -->
						</ul>
					 
					</nav>
				</div>

				<div class="col-lg-9">
					<!-- Overlay effect when opening sidenav on small screens -->
					<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>


					<!-- !PAGE CONTENT! -->
					<div class="w3-main" style="margin-top:13px;">


						<div class="w3-container w3-left" >
							
							<div id="voeuxinfo" class="w3-container w3-section userinfo w3-animate-left">
							
								
							  <h1> Info voeux </h1>
							  
			
							</div>
							
							<div id="listevoeuxfil" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allvoeux is not null %}
						
								<div class="section">
									<div class="container">
										{% for fil in allfiliere  %}
										
												{% if fil.voeux is not null and fil.voeux.count > 0 %}
												
														<div class="fssveufil{{ fil.id }} col-md-4">
															<div class="col-md-4">
																<h3>{{ fil.filiere }}</h3>
															</div>
															<div class="col-md-8">
															
																<a class="btn btn-primary" onclick="LoadVeuFil('{{ fil.id }}','graphique')" > <i class="fa fa-eye"></i> Consulter voeux Graphique </a>
																<a class="btn btn-primary" onclick="LoadVeuFil('{{ fil.id }}','liste')" > <i class="fa fa-eye"></i> Consulter voeux Liste </a>
																
															</div>
														</div>
												
												{% endif %}		
										{% endfor %}

									</div>
								</div>
									
								{% else %}
								  <h1> Pas d'voeux pour les filieres </h1>
								{% endif %}
						
						
							</div>
							
							<div id="listevoeuxgrp" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allvoeux is not null %}
						
								<div class="section">
									<div class="container">
										{% for grp in allgroupe  %}
										
												{% if grp.voeux is not null and grp.voeux.count > 0 %}
												
														<div class="fssveugrp{{ grp.id }} col-md-6">
															<div class="col-md-4">
																<h3>{{ grp.groupe }}</h3>
															</div>
															<div class="col-md-8">
															
																<a class="btn btn-primary" onclick="LoadVeuGrp('{{ grp.id }}','graphique')" > <i class="fa fa-eye"></i> Consulter voeux Graphique </a>
																<a class="btn btn-primary" onclick="LoadVeuGrp('{{ grp.id }}','liste')" > <i class="fa fa-eye"></i> Consulter voeux Liste </a>
																
															</div>
														</div>
												
												{% endif %}		
										{% endfor %}

									</div>
								</div>
									
								{% else %}
								  <h1> Pas d'voeux pour les groupes </h1>
								{% endif %}
						
						
							</div>
							
							
							 <div id="listevoeuxal" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allvoeux is not null %}
						
								<div class="section">
									<div class="container">
										{% for salle in allsalle  %}
										
												{% if salle.voeux is not null and salle.voeux.count > 0 %}
												
													
							
														<div class="fssveusal{{ salle.id }} col-md-6">
															<div class="col-md-4">
																<h3>{{ salle.salle }}</h3>
															</div>
															<div class="col-md-8">
															
																<a class="btn btn-primary" onclick="LoadVeuSal('{{ salle.id }}','graphique')" > <i class="fa fa-eye"></i> Consulter voeux Graphique </a>
																<a class="btn btn-primary" onclick="LoadVeuSal('{{ salle.id }}','liste')" > <i class="fa fa-eye"></i> Consulter voeux Liste </a>
																
															</div>
														</div>
												
												{% endif %}		
										{% endfor %}

									</div>
								</div>
									
								{% else %}
								  <h1> Pas d'voeux pour les salles </h1>
								{% endif %}
						
						
							</div>
							
							<div id="listevoeuxens" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allvoeux is not null %}
						
								<div class="section">
									<div class="container">
										{% for ens in allenseignant  %}
										
												{% if ens.voeux is not null and ens.voeux.count > 0 %}
												
														<div class="fssveuens{{ ens.id }} col-md-4">
															<div class="col-md-4">
																<h3>{{ ens.enseignant }}</h3>
															</div>
															<div class="col-md-8">
															
																<a class="btn btn-primary" onclick="LoadVeuEns('{{ ens.id }}','graphique')" > <i class="fa fa-eye"></i> Consulter voeux Graphique </a>
																<a class="btn btn-primary" onclick="LoadVeuEns('{{ ens.id }}','liste')" > <i class="fa fa-eye"></i> Consulter voeux Liste </a>
																
															</div>
														</div>
												
												{% endif %}		
										{% endfor %}

									</div>
								</div>
									
								{% else %}
								  <h1> Pas de voeux </h1>
								{% endif %}
						
						
							</div>
							
							<div id="listevoeuxdep" class="tabs w3-container w3-section w3-animate-left">
							
							{% if allvoeux is not null %}
						
								<div class="section">
									<div class="container">
										
										{% for dep in alldepartement  %}
										
										<div class="row">
										
											<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#depveucol{{ dep.id }}" aria-expanded="false" aria-controls="depveucol{{ dep.id }}">
												Liste voeux {{ dep.departement }}
											</button>
											
											<div class="collapse" id="depveucol{{ dep.id }}">
											
											<table>
												<thead>
													<tr>
														<th>Filiere</th>
														<th>Groupe</th>
														<th>Matiere</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
											{% for veu in dep.voeux  %}
											
												<tr class="fssveu{{ veu.id }}">
												
													<td>{{ veu.filieres.filiere }}</td>
													<td>{{ veu.groupes.groupe }}</td>
													<td>{{ veu.matiere.matiere }}</td>
													<td>												
															<a class="btn btn-primary" data-toggle="modal" data-target="#veu{{ veu.id }}" > <i class="fa fa-eye"></i> Consulter </a>
															<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'updateveu{{ veu.id }}','modifvoeux','voeuxlayout')"><i class="fa fa-pencil"></i>Modifier</a>
															<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#delveu{{ veu.id }}" ><i class="fa fa-trash"></i>Supprimer</a>
													</td>
												</tr>
											{%endfor%}
												</tbody>
											</table>
											
											</div>
											
										</div>
										
										<br>
										<div class="w3-clear"></div>
											
										{%endfor%}
										
									</div>
								</div>
									
								{% else %}
								  <h1> Pas de voeux </h1>
								{% endif %}
							  
							   
							</div>
							
							
							
								<div id="designhelp" class="tabs w3-container w3-section w3-animate-left">
								
									<header class="w3-container w3-blue">
											<a href="#" onclick="closeMenu(event, 'mainmenu')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
									</header>
									
									  <div class="w3-container">
										<h5>Recent Users</h5>
										<ul class="w3-ul w3-card-4 w3-white">
										 
										  <li class="w3-padding-hor-16">
											<span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
											<img src="img_avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
											<span class="w3-xlarge">Jane</span><br>
										  </li>
										</ul>
									  </div>
								  <hr>

									  <div class="w3-container">
										<h5>Recent Comments</h5>
										
										<div class="w3-row">
										  <div class="w3-col s2 text-center">
											<img class="w3-circle w3-image" src="img_avatar1.png" style="width:96px;height:96px">
										  </div>
										  <div class="w3-col s10 w3-container">
											<h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
											<p>Sed do eiusmod tveuor incididunt ut labore et dolore magna aliqua.</p><br>
										  </div>
										</div>
									  </div>
								  
								  
								
								  
								   
								</div>
							
							  
						</div>
						<!-- End page content -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
