<div id="updatefil{{ fil.id}}" class="tabs w3-container w3-section w3-animate-left">
		<header class="w3-container" style="padding-top:22px">
			<div class="w3-left">
				<a href="#" onclick="closeMenu(event, 'filierelayout')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
			</div>
				<h3 class="text-center"><b><i class="material-icons">class</i> Filiere - {{ fil.filiere }} </b></h3>
				
		</header>
		

		<div class="w3-clear"></div>
		
		<div class="container-fluid text-center">
              <div class="col-lg-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
                
				
               
                <!-- FORM -->
                <form name="formfil{{ fil.id }}"  method="POST" onsubmit="updateFiliere(event,'formfil{{ fil.id }}')" >
                  <!-- Nom -->
                  <div class="fil-form-groupp">
                    <label> Nom </label>
                    <input type="text" name="updnomfiliere" class="form-control" value="{{ fil.filiere }}">
                    <span class="help-block"></span>
                  </div>
				  
				  <!-- Description de la  Filiere -->
                  <div class="fil-form-group">
                    <label> Déscription </label>
                    <input type="text" name="upddescfiliere" class="form-control" placeholder="Description de la  Filiere" value="{{ fil.description }}">
                    <span class="help-block"></span>
                  </div>
				  
				  
                  <!-- Departement -->
                  <div class="fil-form-group">
                    <label> Département </label>
                   <select type="text" name="upddepfiliere" class="form-control" >
				   <option value="{{ fil.departement.id }}">{{ fil.departement.departement }}</option>
						{%for dep in alldepartement %}
							{% if fil.departement.id != dep.id %}
							<option value="{{ dep.departement }}">{{ dep.departement}}</option>
							{% endif %}
						{% endfor %}
					</select>
                    <span class="help-block"></span>
                  </div>
                  
				  	<!-- SHOW ERROR/SUCCESS MESSAGES -->
				
                <div class="fil-form-group"> 
					<span class="messages-block"></span>
				</div>
				
				
				  <input type="text" name="updfiltag" value="updatefil" hidden>
				  <input type="text" name="oldfilname" value="{{ fil.filiere }}" hidden>
				  <input type="text" name="updatefiliere_url" value="{{ path('pedagogie_updatefiliere') }}" hidden>
                  <!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success btn-lg btn-block">
                    Enregistrer <i class="glyphicon glyphicon-save"></i> </button>
                </form>
              </div>
			  </div>
				
		
	
	</div>
