<div id="updategrp{{ grp.groupe }}" class="w3-container tabs w3-animate-zoom">
		<header class="w3-container" style="padding-top:22px">
			<div class="w3-left">
				<a href="#" onclick="closeMenu(event, 'groupelayout')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
			</div>
				<h3 class="text-center"><b><i class="material-icons">class</i> groupe - {{ grp.groupe }} </b></h3>
				{% if session_id is defined and session_id != null and typeuser == "admin" %}
			
				{% endif %}
		</header>
		

		<div class="w3-clear"></div>
		
		<div class="container-fluid text-center">
              <div class="col-sm-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
                  <h4>
                    <span ></span> </h4>
					
					<!-- SHOW ERROR/SUCCESS MESSAGES -->
				
                <div class="grp-form-group"> 
					<span class="messages-block"></span>
				</div>
               
                <!-- FORM -->
                <form name="form{{ grp.groupe }}"  method="POST" onsubmit="updateGroupe(event,'form{{ grp.groupe }}')" >
                  <!-- Nom -->
                  <div class="grp-form-group">
                    <label> Nom </label>
                    <input type="text" name="updnomgroupe" class="form-control" value="{{ grp.groupe }}">
                    <span class="help-block"></span>
                  </div>
                  <!-- Password -->
                  <div class="grp-form-group">
                    <label> Departement </label>
                    <input type="text" name="upddepgroupe" class="form-control" value="{{ grp.departement.departement }}">
					
                    <span class="help-block"></span>
                  </div>
                  <span class="ajax_wait" align="center">
                    <!--don't delete this span class="ajax_wait"-->
                  </span>
				  <input type="text" name="updgrptag" value="updategrp" hidden>
				  <input type="text" name="oldgrpname" value="{{ grp.groupe }}" hidden>
				  <input type="text" name="updategroupe_url" value="{{ path('pedagogie_updategroupe') }}" hidden>
                  <!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success btn-lg btn-block">
                    Enregistrer <i class="glyphicon glyphicon-save"></i> </button>
                </form>
              </div>
			  </div>
				
		
	
	</div>
