<div id="updatedep{{ dep.departement }}" class="tabs w3-container w3-section w3-animate-left col-md-10" style="margin-left:20px">
		<header class="w3-container" style="padding-top:22px">
			<div class="w3-left">
				<a href="#" onclick="closeMenu(event, 'departementlayout')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
			</div>
				<h3 class="text-center"><b><i class="material-icons">class</i> departement - {{ dep.departement }} </b></h3>
				{% if session_id is defined and session_id != null and typeuser == "admin" %}
			
				{% endif %}
		</header>
		

		<div class="w3-clear"></div>
		
		<div class="container-fluid text-center">
              <div class="col-lg-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
             
					
					 <!-- SHOW ERROR/SUCCESS MESSAGES -->
				
                <div class="dep-form-group"> 
					<span class="messages-block"></span>
				</div>
				
               
                <!-- FORM -->
                <form name="form{{ dep.departement }}"  method="POST" onsubmit="updateDepartement(event,'form{{ dep.departement }}')" >
                  <!-- Nom -->
                  <div class="dep-form-group">
                    <label> Nom </label>
                    <input type="text" name="updnomdepartement" class="form-control" value="{{ dep.departement }}">
                    <span class="help-block"></span>
                  </div>
                  
                  
                  </span>
				  <input type="text" name="upddeptag" value="updatedep" hidden>
				  <input type="text" name="olddepname" value="{{ dep.departement }}" hidden>
				  <input type="text" name="updatedepartement_url" value="{{ path('pedagogie_updatedepartement') }}" hidden>
                  <!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success btn-lg btn-block">
                    Enregistrer <i class="glyphicon glyphicon-save"></i> </button>
                </form>
              </div>
			  </div>
				
		
	
	</div>
