<div class="fade modal text-center" id="addemploi">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						
					  </div>
					  <div class="modal-body">
						<div id="container" class="container-fluid text-center">
              <div class="col-sm-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
                  <h4>
                    <span ></span> </h4>
					
					<!-- SHOW ERROR/SUCCESS MESSAGES -->
				
               
                
                <!-- FORM -->
                <form id="addemploiform" class="form-horizontal"  method="POST">
                  
                  <!-- Departements -->
                  <div class="form-group emp-form-group">
                    <label> Départements </label>
                    <select id="addempdepselect" class="form-control" onchange="empLoadFiliere(this.value,'addempfilselect')">
						{%for dep in alldepartement %}
						<option value="{{ dep.id }}">{{ dep.departement}}</option>
						{% endfor %}
					</select>
                    <span class="help-block"></span>
                  </div>
				  
				  <!-- Filieres -->
                  <div class="form-group emp-form-group">
                    <label> Filieres </label>
                    <select id="addempfilselect" class="form-control" onchange="empLoadClasse(this.value,'addempclsselect')">
						
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Classes -->
                  <div class="form-group emp-form-group">
                    <label> Classes </label>
                    <select id="addempclsselect" class="form-control" onchange="empLoadGroupe(this.value,'addempgrpselect')">
						
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Groupes -->
                  <div class="form-group emp-form-group">
                    <label> Groupes </label>
                    <select id="addempgrpselect" class="form-control" onchange="empLoadDiscipline(this.value,'addempdisselect')">
						
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Disciplines -->
                  <div class="form-group emp-form-group">
                    <label> Disciplines </label>
                    <select id="addempdisselect" class="form-control" onchange="empLoadMatiere(this.value,'addempmatselect')">
					
						{%for dis in alldiscipline %}
						<option value="{{ dis.id }}">{{ dis.discipline }}</option>
						{% endfor %}
						
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  
				  <!-- Matieres -->
                  <div class="form-group emp-form-group">
                    <label> Matieres </label>
                    <select id="addempmatselect" class="form-control" onchange="empLoadEnseignant(this.value,'addempensselect')">
					
						{%for mat in allmatiere %}
						<option value="{{ mat.id }}">{{ mat.matiere }}</option>
						{% endfor %}
						
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Enseignant -->
				  <div class="form-group emp-form-group">
                    <label> Enseignants </label>
                    <select id="addempensselect" class="form-control" >
						
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Natures -->
				  <div class="form-group emp-form-group">
                    <label> Nature </label>
                    <select id="natselect" class="form-control" >
						{%for nat in allnature %}
						<option value="{{ nat.id }}">{{ nat.description }}</option>
						{% endfor %}
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  
				   <!-- Lieux -->
				  <div class="form-group emp-form-group">
                    <label> Lieux </label>
                    <select id="addemplieuxselect" class="form-control" onchange="empLoadSalle(this.value,'addempsalselect')">
						{%for lix in alllieux %}
						<option value="{{ lix.code }}">{{ lix.lieux }}</option>
						{% endfor %}
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Salles -->
				  <div class="form-group emp-form-group">
                    <label> Salles </label>
                    <select id="addempsalselect" class="form-control" >
						{%for sal in allsalle %}
						<option value="{{ sal.id }}">{{ sal.salle }}</option>
						{% endfor %}
					</select>
					<span class="help-block"></span>
                  </div>
				  
				   <!-- Jours -->
				  <div class="form-group emp-form-group">
                    <label> Jours </label>
                    <select id="addempjourselect" class="form-control" >
						<option value="1">Lundi</option>
						<option value="2">Mardi</option>
						<option value="3">Mercredi</option>
						<option value="4">Jeudi</option>
						<option value="5">Vendredi</option>
						<option value="6">Samedi</option>
						<option value="7">Dimanche</option>
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Heure Debut -->
                  <div class=" form-group emp-form-group">
                    <label> Heure Debut </label>
                    <select id="addemphdebselect" class="form-control">
						<option value="08">08H</option>
						<option value="09">09H</option>
						<option value="10">10H</option>
						<option value="11">11H</option>
						<option value="12">12H</option>
						<option value="13">13H</option>
						<option value="14">14H</option>
						<option value="15">15H</option>
						<option value="16">16H</option>
						<option value="17">17H</option>
						<option value="18">18H</option>
					</select>
					<select id="addempmindebselect" class="form-control">
						<option value="00">00M</option>
						<option value="05">05M</option>
						<option value="10">10M</option>
						<option value="15">15M</option>
						<option value="20">20M</option>
						<option value="25">25M</option>
						<option value="30">30M</option>
						<option value="35">35M</option>
						<option value="40">40M</option>
						<option value="45">45M</option>
						<option value="50">50M</option>
						<option value="55">55M</option>
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <!-- Heure Fin -->
                  <div class="form-group emp-form-group">
                    <label> Heure Fin </label>
                    <select id="addemphfinselect" class="form-control">
						<option value="08">08H</option>
						<option value="09">09H</option>
						<option value="10">10H</option>
						<option value="11">11H</option>
						<option value="12">12H</option>
						<option value="13">13H</option>
						<option value="14">14H</option>
						<option value="15">15H</option>
						<option value="16">16H</option>
						<option value="17">17H</option>
						<option value="18">18H</option>
					</select>
					<select id="addempminfinselect" class="form-control">
						<option value="00">00M</option>
						<option value="05">05M</option>
						<option value="10">10M</option>
						<option value="15">15M</option>
						<option value="20">20M</option>
						<option value="25">25M</option>
						<option value="30">30M</option>
						<option value="35">35M</option>
						<option value="40">40M</option>
						<option value="45">45M</option>
						<option value="50">50M</option>
						<option value="55">55M</option>
					</select>
					<span class="help-block"></span>
                  </div>
				  
				  <div class="emp-form-group"> 
						<span class="messages-block"></span>
					</div>
					
					<div class="w3-clear"></div>
				  
                  <span class="ajax_wait" align="center">
                    <!--don't delete this span class="ajax_wait"-->
                  </span>
				  
				  <input type="text" name="addemptag" value="addemp" hidden>
				  <input type="text" name="addemploi_url" value="{{ path('pedagogie_addemploi') }}" hidden>
				  <input type="text" name="getfil_url" value="{{ path('pedagogie_getdepfilieres') }}" hidden>
				  <input type="text" name="getcls_url" value="{{ path('pedagogie_getfilclasses') }}" hidden>
				  <input type="text" name="getgrp_url" value="{{ path('pedagogie_getclsgroupes') }}" hidden>
				  <input type="text" name="getdis_url" value="{{ path('pedagogie_getgrpdisciplines') }}" hidden>
				  <input type="text" name="getmat_url" value="{{ path('pedagogie_getdismatieres') }}" hidden>
				  <input type="text" name="getens_url" value="{{ path('pedagogie_getmatenseignants') }}" hidden>
				  <input type="text" name="getnat_url" value="{{ path('pedagogie_getmatnature') }}" hidden>
				  <input type="text" name="getsal_url" value="{{ path('pedagogie_getlixsalles') }}" hidden>
				  
					
				
                  <div class="modal-footer">
					<div class="w3-clear"></div>
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success "><i class="fa fa-save"></i> Enregistrer </button>
					
					  </div>
                  
                </form>
				
				
				
              </div>
			  </div>
					  </div>
					  
					</div>
				  </div>
				</div>