<div class="section w3-clear " style="margin-top:-25%;clear:both;">
	<div class="row">
		<div id="emploilayout" class="col-lg-12 container-fluid tabs w3-animate-zoom w3-white" style="height:90%;width:100%;z-index:99;">

			<div class="row">
				<div class="col-md-12">
					<header class="w3-container w3-blue w3-padding">
							<a href="#" onclick="closeMenu(event, 'bodycontent')" class="w3-btn btn w3-white tablink w3-left"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
						
					</header>
				</div>
			</div>
		
			<div class="row">
			
				<div class="col-lg-3">
					<!-- Sidenav/menu -->
					<nav class="w3-card-2 w3-animate-left w3-white" style="width:300px;position:static;">
						<div class="w3-container w3-row">
							<div class="w3-col s4">
								<h3 class="text-center"><b> <i class="glyphicon glyphicon-calendar w3-xlarge"></i> Emplois </b></h3><br>
							</div>
						</div>
					  
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#" class="tablinkw3-padding-hor-16 w3-hide-large w3-dark-grey w3-hover-black tablink" onclick="w3_close()" title="close menu"><i class="fa fa-remove"></i>  Close Menu</a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listeemploifil','emploilayout')"><i class="fa fa-users"></i> Liste des Emplois par Filiere </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listeemploigrp','emploilayout')"><i class="fa fa-users"></i> Liste des Emplois par Groupe </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listeemploisal','emploilayout')"><i class="fa fa-users"></i> Liste des Emplois par Salle </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listeemploiens','emploilayout')"><i class="fa fa-users"></i> Liste des Emplois par Enseignant </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'listeemploidep','emploilayout')"><i class="fa fa-users"></i> Liste des Emplois </a></li>
							<li><a href="#" class="tablink" onclick="openSubTab(event, 'designhelp','emploilayout')"><i class="fa fa-users"></i> Help Design </a></li>
							<li><a href="#" class="w3-padding w3-blue tablink" onclick="OpenEmpModal(event,'{{ session_id }}')" ><i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau Emploi </a></li>
							<!-- <li><a href="#" class="w3-padding w3-blue tablink" data-toggle="modal" data-target="#addemploi" ><i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau Emploi </a></li> -->
						</ul>
					 
					</nav>
				</div>

				<div class="col-lg-9">
					<!-- Overlay effect when opening sidenav on small screens -->
					<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>


					<!-- !PAGE CONTENT! -->
					<div class="w3-main" style="margin-top:13px;">


						<div class="w3-container w3-left" >
							
							<div id="emploiinfo" class="w3-container w3-section userinfo w3-animate-left">
							
								
							  <h1> Info emplois </h1>
							  
			
							</div>
							
							<div id="listeemploifil" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allemploi is not null %}
						
								<div class="section">
									<div class="container">
										{% for fil in allfiliere  %}
										
												{% if fil.emplois is not null and fil.emplois.count > 0 %}
												
														<div class="fssempfil{{ fil.id }} col-md-4">
															<div class="col-md-4">
																<h3>{{ fil.filiere }}</h3>
															</div>
															<div class="col-md-8">
															
																<a class="btn btn-primary" onclick="LoadEmpFil('{{ fil.id }}','graphique','false')" > <i class="fa fa-eye"></i> Consulter Emploi Graphique </a>
																<a class="btn btn-primary" onclick="LoadEmpFil('{{ fil.id }}','liste','false')" > <i class="fa fa-eye"></i> Consulter Emploi Liste </a>
																
															</div>
														</div>
												
												{% endif %}		
										{% endfor %}

									</div>
								</div>
									
								{% else %}
								  <h1> Pas d'emploi pour les filieres </h1>
								{% endif %}
						
						
							</div>
							
							<div id="listeemploigrp" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allemploi is not null %}
						
								<div class="section">
									<div class="container">
										<div class="panel-group" role="tablist" aria-multiselectable="true">
									
											{% for dep in alldepartement  %}
											<div class="panel panel-default">
										
												<div class="panel-heading" role="tab" >
													<button class="w3-btn w3-blue w3-round" type="button" data-toggle="collapse" data-target="#depgrpempcol{{ dep.id }}" aria-expanded="false" aria-controls="depgrpempcol{{ dep.id }}">
																 {{ dep.departement }}
													</button>
												</div>
										
												<div class="panel-collapse collapse w3-card-8" id="depgrpempcol{{ dep.id }}">
													<div class="panel-body">
														
														<div class="panel-group" role="tablist" aria-multiselectable="true">
														
														{% for fil in dep.filieres  %}
														
														<div class="panel panel-default">
										
															<div class="panel-heading" role="tab" >
																<button class="w3-btn w3-white" type="button" data-toggle="collapse" data-target="#filgrpempcol{{ dep.id }}_{{ fil.id }}" aria-expanded="false" aria-controls="filgrpempcol{{ dep.id }}_{{ fil.id }}">
																				 {{ fil.filiere }}
																</button>
															</div>
															
														<div class="panel-collapse collapse w3-card-8" id="filgrpempcol{{ dep.id }}_{{ fil.id }}">
															<div class="panel-body">
															
																<div class="panel-group" role="tablist" aria-multiselectable="true">
														{% for cls in fil.classes  %}
														
														<div class="panel panel-default">
										
															<div class="panel-heading" role="tab" >
															
																<button class="w3-btn " type="button" data-toggle="collapse" data-target="#clsgrpempcol{{ dep.id }}_{{ fil.id }}_{{ cls.id }}" aria-expanded="false" aria-controls="clsgrpempcol{{ dep.id }}_{{ fil.id }}_{{ cls.id }}">
																				 {{ cls.classe }}
																</button>
															</div>
															
														<div class="panel-collapse collapse w3-card-8" id="clsgrpempcol{{ dep.id }}_{{ fil.id }}_{{ cls.id }}">
																<div class="panel-body">
															
																
																
															{% for grp in cls.groupes  %}
															
																<div class="row" >
																
																	<button class="w3-btn w3-light-blue" type="button" data-toggle="collapse" data-target="#grpempcol{{ dep.id }}_{{ fil.id }}_{{ cls.id }}_{{ grp.id }}" aria-expanded="false" aria-controls="grpempcol{{ dep.id }}_{{ fil.id }}_{{ cls.id }}_{{ grp.id }}">
																		Liste des Emplois du groupe  {{ grp.groupe }}
																	</button>
																
																	<div class="collapse w3-card-8" id="grpempcol{{ dep.id }}_{{ fil.id }}_{{ cls.id }}_{{ grp.id }}">
																	
																	{% if grp.emplois is not null and grp.emplois.count > 0 %}
																	
																			<div class="fssempgrp{{ grp.id }} col-md-12">
																			
																				<div class="row col-md-4">
																					<h3>{{ grp.groupe }}</h3>
																				</div>
																				<div class="row col-md-8">
																				
																					<a class="btn btn-primary" onclick="LoadEmpGrp('{{ grp.id }}','graphique','false')" > <i class="fa fa-eye"></i> Consulter Emploi Graphique </a>
																					<a class="btn btn-primary" onclick="LoadEmpGrp('{{ grp.id }}','liste','false')" > <i class="fa fa-eye"></i> Consulter Emploi Liste </a>
																					
																				</div>
																				
																				<div class="row col-md-12">
																				
																					<table>
																						<thead>
																							<tr>
																								<th>Filiere</th>
																								<th>Groupe</th>
																								<th>Matiere</th>
																								<th>Action</th>
																							</tr>
																						</thead>
																						<tbody>
																					{% for emp in grp.emplois  %}
																					
																						<tr class="fssemp{{ emp.id }}">
																						
																							<td>{{ emp.filieres.filiere }}</td>
																							<td>{{ emp.groupes.groupe }}</td>
																							<td>{{ emp.matiere.matiere }}</td>
																							<td>												
																									<a class="btn btn-primary" data-toggle="modal" data-target="#emp{{ emp.id }}" > <i class="fa fa-eye"></i> Consulter </a>
																									<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'updateemp{{ emp.id }}','modifemploi','emploilayout')"><i class="fa fa-pencil"></i>Modifier</a>
																									<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#delemp{{ emp.id }}" ><i class="fa fa-trash"></i>Supprimer</a>
																							</td>
																						</tr>
																					{%endfor%}
																						</tbody>
																					</table>
																	
																				</div>
																				
																			</div>
																	
																	{% endif %}		
																		
																	
																	</div>
																	</div>
																
															{% endfor %}
														
															
															
														</div>	
														</div>	
														</div>	
														{% endfor %}
														</div>
														</div>	
														</div>	
														</div>	
														{% endfor %}
														
													
										</div>
										</div>
										</div>
										</div>	
										{% endfor %}
										
									</div>
									</div>
								</div>
									
								{% else %}
								  <h1> Pas d'emploi pour les groupes </h1>
								{% endif %}
						
						
							</div>
							
							
							 <div id="listeemploisal" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allemploi is not null %}
						
								<div class="section">
									<div class="container">
										{% for salle in allsalle  %}
										
										<div class="row" >
										
											<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#salempcol{{ salle.id }}" aria-expanded="false" aria-controls="salempcol{{ salle.id }}">
												Liste des Emplois de la salle  {{ salle.salle }}
											</button>
											
											<div class="collapse w3-card-8" id="salempcol{{ salle.id }}">
											
												{% if salle.emplois is not null and salle.emplois.count > 0 %}
												
													
							
														<div class="fssempsal{{ salle.id }} col-md-12">
														
															<div class="row col-md-4">
																<h3>{{ salle.salle }}</h3>
															</div>
															<div class="row col-md-8">
															
																<a class="btn btn-primary" onclick="LoadEmpSal('{{ salle.id }}','graphique','false')" > <i class="fa fa-eye"></i> Consulter Emploi Graphique </a>
																<a class="btn btn-primary" onclick="LoadEmpSal('{{ salle.id }}','liste','false')" > <i class="fa fa-eye"></i> Consulter Emploi Liste </a>
																
															</div>
															
															<div class="row col-md-12">
															
																<table>
																	<thead>
																		<tr>
																			<th>Filiere</th>
																			<th>Groupe</th>
																			<th>Matiere</th>
																			<th>Action</th>
																		</tr>
																	</thead>
																	<tbody>
																{% for emp in salle.emplois  %}
																
																	<tr class="fssemp{{ emp.id }}">
																	
																		<td>{{ emp.filieres.filiere }}</td>
																		<td>{{ emp.groupes.groupe }}</td>
																		<td>{{ emp.matiere.matiere }}</td>
																		<td>												
																				<a class="btn btn-primary" data-toggle="modal" data-target="#emp{{ emp.id }}" > <i class="fa fa-eye"></i> Consulter </a>
																				<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'updateemp{{ emp.id }}','modifemploi','emploilayout')"><i class="fa fa-pencil"></i>Modifier</a>
																				<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#delemp{{ emp.id }}" ><i class="fa fa-trash"></i>Supprimer</a>
																		</td>
																	</tr>
																{%endfor%}
																	</tbody>
																</table>
												
															</div>
															
														</div>
												
												{% endif %}	
												
											</div>
										</div>
										
										<br>
										
										{% endfor %}

									</div>
								</div>
									
								{% else %}
								  <h1> Pas d'emploi pour les salles </h1>
								{% endif %}
						
						
							</div>
							
							<div id="listeemploiens" class="tabs w3-container w3-section w3-animate-left">
							
								{% if allemploi is not null %}
						
								<div class="section">
									<div class="container">
										<div class="row">
										{% for ens in allenseignant  %}
										
										
										<div class="row" >
										
											<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ensempcol{{ ens.id }}" aria-expanded="false" aria-controls="ensempcol{{ ens.id }}">
												Liste des Emplois de {{ ens.enseignant }}
											</button>
											
											<div class="collapse w3-card-8" id="ensempcol{{ ens.id }}">
											
												{% if ens.emplois is not null and ens.emplois.count > 0 %}
												
														<div class="fssempens{{ ens.id }} col-md-12">
														
															<div class="row col-md-4">
																<h3>{{ ens.enseignant }}</h3>
															</div>
															
															<div class="row col-md-8">
															
																<a class="w3-btn btn btn-primary" onclick="LoadEmpEns('{{ ens.id }}','graphique','false')" > <i class="fa fa-eye"></i> Consulter Emploi Graphique </a>
																<a class="w3-btn btn btn-primary" onclick="LoadEmpEns('{{ ens.id }}','liste','false')" > <i class="fa fa-eye"></i> Consulter Emploi Liste </a>
																
															</div>
															
															<div class="row col-md-12">
															
															<table>
																<thead>
																	<tr>
																		<th>Filiere</th>
																		<th>Groupe</th>
																		<th>Matiere</th>
																		<th>Action</th>
																	</tr>
																</thead>
																<tbody>
															{% for emp in ens.emplois  %}
															
																<tr class="fssemp{{ emp.id }}">
																
																	<td>{{ emp.filieres.filiere }}</td>
																	<td>{{ emp.groupes.groupe }}</td>
																	<td>{{ emp.matiere.matiere }}</td>
																	<td>												
																			<a class="btn btn-primary" data-toggle="modal" data-target="#emp{{ emp.id }}" > <i class="fa fa-eye"></i> Consulter </a>
																			<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'updateemp{{ emp.id }}','modifemploi','emploilayout')"><i class="fa fa-pencil"></i>Modifier</a>
																			<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#delemp{{ emp.id }}" ><i class="fa fa-trash"></i>Supprimer</a>
																	</td>
																</tr>
															{%endfor%}
																</tbody>
															</table>
												
															</div>
															
														</div>
											
											
												{% endif %}		
											</div>
										</div>
										
										<br>
										
										{% endfor %}
										</div>
									</div>
								</div>
									
								{% else %}
								  <h1> Pas de emploi </h1>
								{% endif %}
						
						
							</div>
							
							<div id="listeemploidep" class="tabs w3-container w3-section w3-animate-left">
							
							{% if allemploi is not null %}
						
								<div class="section">
									<div class="container">
										
										{% for dep in alldepartement  %}
										
										<div class="row">
										
											<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#depempcol{{ dep.id }}" aria-expanded="false" aria-controls="depempcol{{ dep.id }}">
												Liste Emploi {{ dep.departement }}
											</button>
											
											<div class="collapse" id="depempcol{{ dep.id }}">
											
												<table>
													<thead>
														<tr>
															<th>Filiere</th>
															<th>Groupe</th>
															<th>Matiere</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
												{% for emp in dep.emplois  %}
												
													<tr class="fssemp{{ emp.id }}">
													
														<td>{{ emp.filieres.filiere }}</td>
														<td>{{ emp.groupes.groupe }}</td>
														<td>{{ emp.matiere.matiere }}</td>
														<td>												
																<a class="btn btn-primary" data-toggle="modal" data-target="#emp{{ emp.id }}" > <i class="fa fa-eye"></i> Consulter </a>
																<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'updateemp{{ emp.id }}','modifemploi','emploilayout')"><i class="fa fa-pencil"></i>Modifier</a>
																<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#delemp{{ emp.id }}" ><i class="fa fa-trash"></i>Supprimer</a>
														</td>
													</tr>
												{%endfor%}
													</tbody>
												</table>
											
											</div>
											
										</div>
										
										<br>
										
										{%endfor%}
										
									</div>
								</div>
									
								{% else %}
								  <h1> Pas de emploi </h1>
								{% endif %}
							  
							   
							</div>
							
							
							
								<div id="designhelp" class="tabs w3-container w3-section w3-animate-left">
								
									<header class="w3-container w3-blue">
											<a href="#" onclick="closeMenu(event, 'mainmenu')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
									</header>
									
									  <div class="w3-container">
										<h5>Recent Users</h5>
										<ul class="w3-ul w3-card-4 w3-white">
										 
										  <li class="w3-padding-hor-16">
											<span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
											<img src="img_avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
											<span class="w3-xlarge">Jane</span><br>
										  </li>
										</ul>
									  </div>
								  <hr>

									  <div class="w3-container">
										<h5>Recent Comments</h5>
										
										<div class="w3-row">
										  <div class="w3-col s2 text-center">
											<img class="w3-circle w3-image" src="img_avatar1.png" style="width:96px;height:96px">
										  </div>
										  <div class="w3-col s10 w3-container">
											<h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
											<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
										  </div>
										</div>
									  </div>
								  
								  
								
								  
								   
								</div>
							
							  
						</div>
						<!-- End page content -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
