
	<div class="row">
		<div  class="container-fluid text-center ">
            <div class="col-sm-10">
			
				<div class="row">
					<div class="container">
						<div class="col-lg-12">
							<div class="col-md-4 pull-left text-center">
								<p> <strong> REPUBLIQUE TUNISIENNE </strong> </p>
								<p> MINISTERE DE L'ENSEIGNEMENT SUPERIEURE ET DE LA RECHERCHE </p>
								<p> <strong> UNIVERSITE DE SFAX </strong> </p>
								<p> FACULTE DES SCIENCES DE SFAX </p>
							</div>
						  
							<div class="col-md-3 text-center">
								<h4 class="text-center lead">EMPLOI DU TEMPS </h4>
								<h5 class="text-center "> {% if listeemp[0].semestre.code == "S1"  %} 1er Semestre {% else %} 2eme Semestre {% endif %} </h5>
								<h5 class="text-center"> {{ listeemp[0].groupes.groupe }} </h5>
								
							</div>
							<div class="col-md-4 text-center">
								<p> Annee Universitaire : {{ listeemp[0].getHeureDebut|date('Y') }} / {{ listeemp[0].getHeureFin|date('Y') }}  </p>
								<h5 > Departement : {{ listeemp[0].departements.departement }}    </h5>
								<h5 > Filiere : {{ listeemp[0].filieres.filiere }}  {{ listeemp[0].classes.annee }} année </h5>
								<h5> {{ date().format('d/m/Y') }} </h5>
							</div>
						</div>
					</div>
				</div>
			 
			 <br>
			 
			  
				<div class="row">
					<div class="container">
						<div class="col-lg-11">
						
							<table class="table table-bordered table-striped table-condensed">
							
								<thead>
									<tr>
										 
										<th> Horaire </th>
										<th> Matiere </th>
										<th> Nature </th>
										<th> Module </th>
										<th> Salle </th>
										<th> Periode </th>
										<th> Enseignant </th>
									</tr>
								</thead>
								
								<tbody>
						  
									{% for emp in listeemp %}
									
									<tr>
									  
										<td class=" text-center">
											<h5> {{ emp.jours.jour }} </h5>
										</td>
										
										<td class="text-center">
											<h5 class="text-center">
												<span class="w3-green">  {{ emp.getHeureDebut|date('H:i') }}  </span>
											</h5>	
										</td>
										<td class="text-center"> {{ emp.matiere.matiere }} </td>
										<td class="text-center"> {{ emp.natures.description }} </td>
										<td class="text-center">  </td>
										<td class="text-center"> {{ emp.salles.salle }} </td>
										<td class="text-center"> {{ emp.semestre.semestre }} </td>
										<td class="text-center"> {{ emp.enseignants.enseignant }}  </td>
											
									</tr>
									
									{% endfor %}
									
									
						  
								</tbody>
							</table>
						</div>
					</div>
				</div>
			  
				
				
			</div>
		</div>
	</div>
 