<div id="modulelayout" class="w3-container tabs w3-animate-zoom" style="height:80%">

{% include "PedagogiePedagogieBundle::user/module/addmodulelayout.html.twig" %}

{% if allmodule is not null %}

	{% for mod in allmodule  %}
				{% include "PedagogiePedagogieBundle::user/module/modalmodulelayout.html.twig" %}
				{% include "PedagogiePedagogieBundle::user/module/updatemodulelayout.html.twig" %}
				{% include "PedagogiePedagogieBundle::user/module/deletemodulelayout.html.twig" %}
	{% endfor %}
	
{% endif %}

<header class="w3-container w3-blue w3-padding">
		<a href="#" onclick="closeMenu(event, 'bodycontent')"  class="w3-btn btn w3-white tablink w3-left"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
	<!--	<a href="#" onclick="w3_open()" class="w3-btn btn w3-white tablink" ><i class="fa fa-bars"></i>  Menu </a> -->
</header>	

<!-- Sidenav/menu -->

<nav class="w3-sidenav w3-card-2 w3-theme-l5 w3-animate-left" style="z-index:3;width:300px;">
  <div class="w3-container w3-row">
    <div class="w3-col s8">
		<h3 class="text-center"><b><i class="material-icons">class</i> modules </b></h3><br>
    </div>
  </div>
  
	<a href="#" class="tablinkw3-padding-hor-16 w3-hide-large w3-dark-grey w3-hover-black tablink" onclick="w3_close()" title="close menu"><i class="fa fa-remove"></i>  Close Menu</a>
	<a href="#" class="tablink" onclick="openSubTab(event, 'listemodule','modulelayout')"><i class="fa fa-users"></i> Liste des modules </a>
	<a href="#" class="tablink" onclick="openSubTab(event, 'listemoduledep','modulelayout')"><i class="fa fa-users"></i> Liste des modules  par departements </a>
	<a href="#" class="tablink" onclick="openSubTab(event, 'designhelp','modulelayout')"><i class="fa fa-users"></i> Help Design </a>
	
	<a href="#" class="w3-padding w3-blue tablink" data-toggle="modal" data-target="#addmodule" ><i class="glyphicon glyphicon-plus"></i> Ajouter une nouvelle module </a>
	
 
</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:200px;margin-top:23px;">

	<!-- Header -->



   <div class="w3-container pull-left" style="margin-left:110px">
		
		<div id="moduleinfo" class="w3-container w3-section userinfo w3-animate-left">
		
			
          <h1> Info Modules </h1>
          
          
           
		</div>
		
		<div id="listemodule" class="tabs w3-container w3-section w3-animate-left">
		
			{% if allmodule is not null %}
    
			<div class="section">
				<div class="container">
					{% for mod in allmodule  %}
        
			
						<div id="fss{{ mod.module }}" class="col-md-6">
						  <div class="col-md-4">
							<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
						  </div>
						  <div class="col-md-15">
							<h3>{{ mod.module }}</h3>
						
								<a class="btn btn-primary" data-toggle="modal" data-target="#{{ mod.module }}" > <i class="fa fa-eye"></i> Consulter </a>
								<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'update{{ mode.module }}','listemodule','modulelayout')"><i class="fa fa-pencil"></i>Modifier</a>
								<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#del{{ mod.module }}" ><i class="fa fa-trash"></i>Supprimer</a>
							
						  </div>
						</div>
						
						
					
				
			  
					{%endfor%}

				</div>
			</div>
				
			{% else %}
			  <h1> Pas de module </h1>
			{% endif %}
	
	
	</div>
  
           
		
		
		<div id="listemoduledep" class="tabs w3-container w3-section w3-animate-left">
		
		{% if allmodule is not null %}
    
			<div class="section">
				<div class="container">
					{% for mod in allmodule  %}
        
			
						<div id="fss{{ mod.module }}" class="col-md-6">
						  <div class="col-md-4">
							<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
						  </div>
						  <div class="col-md-15">
							<h3>{{ mod.module }}</h3>
						
								<a class="btn btn-primary" data-toggle="modal" data-target="#{{ mod.module }}" > <i class="fa fa-eye"></i> Consulter </a>
								<a class="btn btn-primary w3-green tablink" onclick="openSubMenu(event, 'update{{ mod.module }}','listemodule','modulelayout')"><i class="fa fa-pencil"></i>Modifier</a>
								<a class="btn btn-primary w3-red" data-toggle="modal" data-target="#del{{ mod.module }}" ><i class="fa fa-trash"></i>Supprimer</a>
							
						  </div>
						</div>
						
						
					
				
			  
					{%endfor%}

				</div>
			</div>
				
			{% else %}
			  <h1> Pas de module </h1>
			{% endif %}
          
           
		</div>
		
		
		
		<div id="designhelp" class="tabs w3-container w3-section w3-animate-left">
		
			<header class="w3-container w3-blue">
					<a href="#" onclick="closeMenu(event, 'mainmenu')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
			</header>
			
			  <div class="w3-container">
				<h5>Recent Users</h5>
				<ul class="w3-ul w3-card-4 w3-white">
				 
				  <li class="w3-padding-hor-16">
					<span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
					<img src="img_avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
					<span class="w3-xlarge">Jane</span><br>
				  </li>
				</ul>
			  </div>
		  <hr>

			  <div class="w3-container">
				<h5>Recent Comments</h5>
				
				<div class="w3-row">
				  <div class="w3-col s2 text-center">
					<img class="w3-circle w3-image" src="img_avatar1.png" style="width:96px;height:96px">
				  </div>
				  <div class="w3-col s10 w3-container">
					<h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
					<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
				  </div>
				</div>
			  </div>
		  
          
		
          
           
		</div>
		
		  
	</div>
  <!-- End page content -->
</div>



</div>
	

	