<div id="update{{ mod.module  }}" class="w3-container tabs w3-animate-zoom">
		<header class="w3-container" style="padding-top:22px">
			<div class="w3-left">
				<a href="#" onclick="closeMenu(event, 'modulelayout')"  class="w3-btn btn btn-info tablink"><i class="glyphicon glyphicon-menu-left"></i> Retour </a>
			</div>
				<h3 class="text-center"><b><i class="material-icons">class</i> Filiere - {{ mod.module }} </b></h3>
				{% if session_id is defined and session_id != null and typeuser == "admin" %}
			
				{% endif %}
		</header>
		

		<div class="w3-clear"></div>
		
		<div class="container-fluid text-center">
              <div class="col-sm-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
                  <h4>
                    <span ></span> </h4>
               
                <!-- FORM -->
                <form name="form{{ mod.module  }}"  method="POST" onsubmit="updateFiliere(event,'form{{ mod.module  }}')" >
                  <!-- Nom -->
                  <div class="form-group">
                    <label> Nom </label>
                    <input type="text" name="updnommodule" class="form-control" value="{{ mod.module  }}">
                    <span class="help-block"></span>
                  </div>
                  <!-- Password -->
                  <div class="form-group">
                    <label> Departement </label>
                    <input type="text" name="upddepmodule" class="form-control" value="{{ fil.departement.departement }}">
					
                    <span class="help-block"></span>
                  </div>
                  <span class="ajax_wait" align="center">
                    <!--don't delete this span class="ajax_wait"-->
                  </span>
				  <input type="text" name="updmodtag" value="updatemod" hidden>
				  <input type="text" name="oldmodname" value="{{ mod.module  }}" hidden>
				  <input type="text" name="updatefiliere_url" value="{{ path('pedagogie_updatemodule') }}" hidden>
                  <!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success btn-lg btn-block">
                    Enregistrer <i class="glyphicon glyphicon-save"></i> </button>
                </form>
              </div>
			  </div>
				
		
	
	</div>
